function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 1
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 1
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 1
push pointer 0
call Ball.draw 1
pop temp 1
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 1
push pointer 0
call Ball.draw 1
pop temp 1
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 1
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 0
push this 0
sub
pop this 2
push argument 1
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
push constant 0
eq
if-goto IF_276776790772995
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 1
lt
pop this 8
push this 0
push argument 0
lt
pop this 9
goto IF_276776790793891
label IF_276776790772995
push this 0
push argument 0
lt
pop this 8
push this 1
push argument 1
lt
pop this 9
label IF_276776790793891
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 1
push this 4
push constant 0
lt
push constant 0
eq
if-goto IF_276776795376724
push this 4
push this 5
add
pop this 4
goto IF_276776795384455
label IF_276776795376724
push this 4
push this 6
add
pop this 4
push this 9
push constant 0
eq
if-goto IF_276776796316141
push this 7
push constant 0
eq
if-goto IF_276776796506989
push this 0
push constant 4
add
pop this 0
goto IF_276776796513207
label IF_276776796506989
push this 1
push constant 4
add
pop this 1
label IF_276776796513207
goto IF_276776796324522
label IF_276776796316141
push this 7
push constant 0
eq
if-goto IF_276776797640616
push this 0
push constant 4
sub
pop this 0
goto IF_276776797648666
label IF_276776797640616
push this 1
push constant 4
sub
pop this 1
label IF_276776797648666
label IF_276776796324522
label IF_276776795384455
push this 8
push constant 0
eq
if-goto IF_276776798471835
push this 7
push constant 0
eq
if-goto IF_276776798647034
push this 1
push constant 4
add
pop this 1
goto IF_276776798652283
label IF_276776798647034
push this 0
push constant 4
add
pop this 0
label IF_276776798652283
goto IF_276776798477495
label IF_276776798471835
push this 7
push constant 0
eq
if-goto IF_276776799621517
push this 1
push constant 4
sub
pop this 1
goto IF_276776799628994
label IF_276776799621517
push this 0
push constant 4
sub
pop this 0
label IF_276776799628994
label IF_276776798477495
push this 0
push this 10
gt
not
push constant 0
eq
if-goto IF_276776800575840
push constant 1
pop this 14
push this 10
pop this 0
goto IF_276776800583438
label IF_276776800575840
label IF_276776800583438
push this 0
push this 11
lt
not
push constant 0
eq
if-goto IF_276776801386338
push constant 2
pop this 14
push this 11
pop this 0
goto IF_276776801396748
label IF_276776801386338
label IF_276776801396748
push this 1
push this 12
gt
not
push constant 0
eq
if-goto IF_276776802192315
push constant 3
pop this 14
push this 12
pop this 1
goto IF_276776802199289
label IF_276776802192315
label IF_276776802199289
push this 1
push this 13
lt
not
push constant 0
eq
if-goto IF_276776802901269
push constant 4
pop this 14
push this 13
pop this 1
goto IF_276776802906625
label IF_276776802901269
label IF_276776802906625
push pointer 0
call Ball.show 1
pop temp 1
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 0
push constant 0
eq
push constant 0
eq
if-goto IF_276776805125853
push constant 10
pop local 4
goto IF_276776805133204
label IF_276776805125853
push this 2
push constant 0
lt
not
push argument 0
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 0
push constant 1
neg
eq
and
or
push constant 0
eq
if-goto IF_276776805561445
push constant 20
pop local 4
goto IF_276776805567099
label IF_276776805561445
push constant 5
pop local 4
label IF_276776805567099
label IF_276776805133204
push this 14
push constant 1
eq
push constant 0
eq
if-goto IF_276776808461863
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF_276776808473140
label IF_276776808461863
push this 14
push constant 2
eq
push constant 0
eq
if-goto IF_276776811051899
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF_276776811061538
label IF_276776811051899
push this 14
push constant 3
eq
push constant 0
eq
if-goto IF_276776812317715
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto IF_276776812329109
label IF_276776812317715
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label IF_276776812329109
label IF_276776811061538
label IF_276776808473140
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 1
push constant 0
return
